<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tezos.ui">

    <application
        android:name=".utils.ArchLifecycleApp"
        >

        <activity
            android:name=".activity.PaymentFormActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PaymentAccountsActivity"
            android:theme="@style/PaymentScreens.PaymentAccountsActivity"
            />
        <activity
            android:name=".activity.AddAccountActivity"
            android:theme="@style/PaymentScreens.AddAccountActivity"
            />

    </application>

</manifest>


