<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tezos.ui">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- Camera features - recommended -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <application
        android:name=".utils.ArchLifecycleApp">

        <activity
            android:name=".activity.TransferFormActivity"
            android:theme="@style/PaymentScreens.PaymentFormActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AddressBookActivity"
            android:theme="@style/PaymentScreens.PaymentAccountsActivity"
            />
        <activity
            android:name=".activity.AddAddressActivity"
            android:theme="@style/PaymentScreens.AddAddressActivity"
            android:windowSoftInputMode="adjustPan"
            />

        <activity
            android:name=".activity.CreateWalletActivity"
            android:theme="@style/PaymentScreens.CreateWalletActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            />

        <activity
            android:name=".activity.RestoreWalletActivity"
            android:theme="@style/PaymentScreens.RestoreWalletActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            />

        <activity
            android:name=".activity.PublicKeyHashActivity"
            android:theme="@style/PaymentScreens.PublicKeyActivity"
            />

        <activity
            android:name="com.tezos.ui.activity.AddressDetailsActivity"
            android:theme="@style/PaymentScreens.AddressDetailsActivity"
            />

        <activity
            android:name="com.tezos.ui.activity.SimpleScannerActivity"
            android:theme="@style/PaymentScreens.SimpleScannerActivity"
            />

        <activity
            android:name=".activity.OperationsActivity"
            android:theme="@style/PaymentScreens.OperationsActivity"
            />

        <activity
            android:name="com.tezcore.ui.activity.DelegateActivity"
            android:theme="@style/PaymentScreens.DelegateActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name="com.tezos.ui.activity.AddDelegateActivity"
            android:theme="@style/PaymentScreens.AddDelegateActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.tezos.ui.activity.AddLimitsActivity"
            android:theme="@style/PaymentScreens.AddLimitsActivity"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>


