<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tezos.android">

    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TezosTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/TezosTheme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"
            android:theme="@style/TezosTheme.SettingsActivity">
        </activity>

        <activity
            android:name=".activities.PasscodeActivity"
            android:theme="@style/TezosTheme.PasscodeActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".AboutActivity"
            android:theme="@style/TezosTheme.AboutActivity" />

        <provider
            android:name="com.tezos.core.database.EnglishWordsContentProvider"
            android:authorities="com.tezos.core.database.EnglishWordsProvider"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>